<p>Edit Merchant</p>

<form class="edit" method="post" action="/merchants/<%= @merchant.id %>">

  <label for="merchant_name">Merchant Name:</label>
  <input type="text" name="merchant_name" id="merchant_name" value="<%= @merchant.merchant_name %>" />

  <input class="button" type="submit" value="Edit Merchant" />

</form>
