<h2>Merchants</h2>

<% @merchants.each do |merchant| %>
  <p>
    Merchant Name : <%= merchant.merchant_name %>
    <br />
    <a href="/merchants/<%= merchant.id %>">View Merchant</a>
  </p>
<% end %>
Please <a href="/merchants/add">Add a New Merchant</a>
