<h2>Merchants</h2>
<p>Merchants are used to identify the recipient of a transaction.  Recurring Transactions are used to identify regular transactions (e.g. Direct Debits, etc.).</p>
<p>Imperdiet ante rutrum ac vehicula nulla imperdiet tincidunt eget lobortis vivamus nulla. Amet euismod est luctus nulla consequat. Magna metus libero. Posuere augue torquent. Interdum pede tempor sit pede aliquet mauris sit malesuada. Neque felis dictum vestibulum faucibus eu. Vitae arcu per repellendus quis egestas. Maecenas vulputate diam. Tellus curabitur sem donec malesuada pede. Et diam sagittis sed id vestibulum.</p>

<% if Merchant.all().count() < 1 %>
  There current no merchants to be referenced in transactions.
  <br/ >
  <a class="button" href="/merchants/add">Add a Merchant</a>
<% else %>
  <h3>Showing <%= Merchant.all().count() %> merchants</h3>
  <a class="button" href="/merchants/add">Add a New Merchant</a>
  <% @merchants.each do |merchant| %>
    <p class="display">
      Merchant Name : <%= merchant.merchant_name %>
      <br />
      <a href="/merchants/<%= merchant.id %>">View Merchant</a>
    </p>
  <% end %>
  <div class="changes">
    <a class="button" href="/merchants/add">Add a New Merchant</a>
  </div>
<% end %>
