<h2>Add New Merchant</h2>

<form class="edit" action="/merchants" method="post">
  <label for="merchant_name">Merchant Name :</label>
  <input type="text" name="merchant_name" id="merchant_name" />
  <input class="button" type="submit" value="Add Merchant">
</form>
