<h2>Show Specific Merchant</h2>

<p>Merchant : <%= @merchant.merchant_name %></p>
<a href="/merchants/<%= @merchant.id %>/edit">Edit this Merchant</a>
<form method="post" action="/merchants/<%= @merchant.id %>/delete">
  <input type="submit" value="Delete Merchant" />
</form>
</br />
