<h2>Show Specific Merchant</h2>

<p class="display">Merchant : <%= @merchant.merchant_name %></p>
<div class="changes">
  <a class="button" href="/merchants/<%= @merchant.id %>/edit">Edit this Merchant</a>
  <form method="post" action="/merchants/<%= @merchant.id %>/delete">
    <input class="button" type="submit" value="Delete Merchant" />
  </form>
</div>
</br />
