<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Froogle</title>
</head>
<body>
  <header>
    <h1>Froogle</h1>
  </header>
  <nav>
    <a href="/">Home</a> |
    <a href="/users">Users</a> |
    <a href="/merchants">Merchants</a> |
    <a href="/transactions">Transactions</a> |
    <a href="/budget">Budget</a>
  </nav>
  <main>
    <%= yield %>
  </main>
  <footer>
    &copy; Froogle Inc. 2018
  </footer>
</body>
</html>
