<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Froogle</title>

  <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/styles/layout.css">
</head>
<body>
  <header>
    <h1>Froogle</h1>
  </header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/users">Users</a></li>
      <li><a href="/tags">Tags</a></li>
      <li><a href="/merchants">Merchants</a></li>
      <li><a href="/transactions">Transactions</a></li>
      <li><a href="/budget">Budget</a></li>
    </ul>
  </nav>
  <main>
    <%= yield %>
  </main>
  <footer>
    &copy; Froogle Inc. 2018
  </footer>
</body>
</html>
