<p>Edit Tag</p>

<form method="post" action="/tags/<%= @tag.id %>">

  <label for="tag_name">Tag Name:</label>
  <input type="text" name="tag_name" id="tag_name" value="<%= @tag.tag_name %>" />

  <input type="submit" value="Edit Tag" />

</form>
