<h2>Tags</h2>
<p>Tags are used to indentify different transaction types (mortgage, utilites, etc.). Add as many, or as few, tags as you require.</p>
<p>Tempus sed tincidunt accumsan magna orci. Amet euismod aut accumsan a quis. A adipiscing auctor. A posuere nostra. Consequat est tortor feugiat a pharetra blandit turpis mauris a nec ut.</p>
<p>Aenean amet lobortis penatibus massa faucibus aliquet elit ipsum. Maecenas aenean parturient et nec pede. Viverra tincidunt non. Semper elit accumsan magnis at dui. Et ligula mi. Neque ornare interdum sed faucibus consequat ipsum quisque a eu urna bibendum a euismod mauris. Augue fringilla pulvinar. Ut donec elit. Consectetuer volutpat lectus suspendisse id enim velit vulputate ante. Pretium tincidunt iaculis.</p>

<% if Tag.all().count() < 1 %>
  There current no tags registered to this app.
  <br/ >
  <a class="button" href="/tags/add">Add a Tag</a>
<% else %>
  <h3>Showing <%= Tag.all().count() %> tags</h3>
  <a class="button" href="/tags/add">Add a New Tag</a>
  <% @tags.each do |tag| %>
    <p class="display">
      Tag Name : <%= tag.tag_name %>
      <br />
      <a href="tags/<%= tag.id %>">View this Tag</a>
    </p>
  <% end %>
  <div class="changes">
    <a class="button" href="/tags/add">Add a New Tag</a>
  </div>
<% end %>
