<h2>Add New Tag</h2>

<form class="edit" action="/tags" method="post">
  <label for="tag_name">Tag Name :</label>
  <input type="text" name="tag_name" id="tag_name" />
  <input class="button" type="submit" value="Add Tag">
</form>
