<h2>Add New User</h2>

<form class="edit" action="/users" method="post">
  <label for="first_name">First Name :</label>
  <input type="text" name="first_name" id="first_name" />
  <br />
  <label for="last_name">Last Name :</label>
  <input type="text" name="last_name" id="last_name" />
  <br />
  <label for="monthly_income">Monthly Income (£):</label>
  <input type="number" name="monthly_income" id="monthly_income" />
  <br />
  <label for="budget">Budget (£):</label>
  <input type="number" name="budget" id="budget" />
  <br />
  <label for="pay_date">Pay Date :</label>
  <input type="number" name="pay_date" id="pay_date" />
  <br />
  <label for="min_daily_spend">Prefered Minimum Daily Spend :</label>
  <input type="number" name="pay_date" id="pay_date" />
  <input class="button" type="submit" value="Add User">
</form>
